html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: #0b0b0c;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 589px;
  background-image: url("img/mask-group.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
}

.about-us {
  background-color: #0b0b0c;
  overflow: hidden;
  width: 1440px;
  height: 3829px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.about-us .frame,
.about-us .top-nav,
.about-us .core-capabilities-wrapper,
.about-us .core-capabilities-2,
.about-us .core-capabilities-3 {
  left: 50%;
  transform: translateX(-50%);
}

.about-us .frame {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 833px;
}

.about-us .ellipse {
  position: absolute;
  top: calc(50% - 564px);
  left: -421px;
  width: 1200px;
  height: 884px;
  border-radius: 600px/442px;
  filter: blur(209.02px);
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 128, 255, 0.25) 0%, rgba(12, 12, 12, 0.25) 100%);
}

.about-us .mask-group {
  display: none;
}

.about-us .text-wrapper {
  position: absolute;
  top: 217px;
  left: 855px;
  width: 400px;
  height: 120px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.about-us .incubated-live {
  position: absolute;
  top: 725px;
  left: 85px;
  height: 24px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.about-us .professional {
  position: absolute;
  top: 725px;
  left: 418px;
  width: 209px;
  height: 48px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.about-us .div {
  position: absolute;
  top: 725px;
  left: 751px;
  width: 199px;
  height: 48px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.about-us .text-wrapper-2 {
  position: absolute;
  top: 725px;
  left: 1084px;
  height: 24px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.about-us .frame-2 {
  display: inline-flex;
  height: 24px;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 753px;
  left: 85px;
}

.about-us .vector-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.about-us .vector {
  position: absolute;
  width: 82.41%;
  height: 83.33%;
  top: 16.67%;
  left: 17.59%;
}

.about-us .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #4bde80;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.about-us .group {
  position: absolute;
  top: 153px;
  left: 82px;
  width: 774px;
  height: 252px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us .text-wrapper-4 {
  width: 152px;
  height: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #007fff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .turning-AI {
  width: 770px;
  height: 204px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 15, 42, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 68px;
}

.about-us .line {
  top: 514px;
  left: calc(50% - 641px);
  width: 1282px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.about-us .frame-3 {
  display: inline-flex;
  align-items: baseline;
  gap: 16px;
  position: absolute;
  top: 633px;
  left: 85px;
}

.about-us .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 68px;
  white-space: nowrap;
}

.about-us .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #a09fa1;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .div-wrapper {
  display: inline-flex;
  align-items: baseline;
  gap: 16px;
  position: absolute;
  top: 633px;
  left: 418px;
}

.about-us .frame-4 {
  display: inline-flex;
  align-items: baseline;
  gap: 16px;
  position: absolute;
  top: 633px;
  left: 751px;
}

.about-us .text-wrapper-7 {
  align-items: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 68px;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.about-us .frame-5 {
  display: inline-flex;
  align-items: baseline;
  gap: 16px;
  position: absolute;
  top: 633px;
  left: 1084px;
}

.about-us .img {
  top: 625px;
  left: 361px;
  width: 1px;
  height: 168px;
  position: absolute;
  object-fit: cover;
}

.about-us .line-2 {
  top: 625px;
  left: 678px;
  width: 1px;
  height: 168px;
  position: absolute;
  object-fit: cover;
}

.about-us .line-3 {
  top: 625px;
  left: 995px;
  width: 1px;
  height: 168px;
  position: absolute;
  object-fit: cover;
}

.about-us .core-capabilities-wrapper {
  position: absolute;
  top: 833px;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 473px;
  display: flex;
  justify-content: center;
}

.about-us .core-capabilities {
  width: 1440px;
  height: 473px;
  position: relative;
}

.about-us .our-focus-what-we {
  position: absolute;
  top: 80px;
  left: 85px;
  height: 112px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 15, 42, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
}

.about-us .we-invest-our {
  position: absolute;
  top: 94px;
  left: 751px;
  width: 621px;
  height: 72px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .features {
  display: flex;
  width: calc(100% - 153px);
  height: 84px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 309px;
  left: 86px;
}

.about-us .card {
  display: flex;
  height: 84px;
  align-items: center;
  gap: 20px;
  padding: 18px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 16px;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
}

.about-us .card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .div-2 {
  position: relative;
  width: 44px;
  height: 44px;
  aspect-ratio: 1;
}

.about-us .color {
  position: absolute;
  width: 91.67%;
  height: 91.67%;
  top: 8.33%;
  left: 8.33%;
}

.about-us .color-2 {
  position: absolute;
  width: 66.46%;
  height: 71.18%;
  top: 28.82%;
  left: 33.54%;
}

.about-us .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .color-3 {
  position: absolute;
  width: 91.67%;
  height: 69.27%;
  top: 30.73%;
  left: 8.33%;
}

.about-us .color-4 {
  position: absolute;
  width: 78.12%;
  height: 93.23%;
  top: 6.77%;
  left: 21.88%;
}

.about-us .div-3 {
  position: relative;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

.about-us .color-5 {
  position: absolute;
  width: 87.58%;
  height: 87.58%;
  top: 12.42%;
  left: 12.42%;
}

.about-us .color-6 {
  position: absolute;
  width: 85.21%;
  height: 91.86%;
  top: 8.14%;
  left: 14.79%;
}

.about-us .color-7 {
  position: absolute;
  width: 60.42%;
  height: 66.67%;
  top: 33.33%;
  left: 39.58%;
}

.about-us .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 49px;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  position: absolute;
  top: 196px;
  left: calc(50% + 31px);
  border-radius: 999px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 17, 1) 100%);
}

.about-us .button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 999px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(12, 12, 12, 0.04) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .rectangle {
  position: absolute;
  width: calc(100% - 13px);
  left: 7px;
  bottom: 48px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(39, 133, 226, 0.8) 36%,
    rgba(0, 128, 255, 1) 50%,
    rgba(39, 133, 226, 0.8) 64%,
    rgba(13, 13, 13, 0) 100%
  );
  opacity: 0.5;
}

.about-us .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .top-nav {
  display: flex;
  width: 1448px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-us .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
  white-space: nowrap;
}

.about-us .tabs {
  display: inline-flex;
  align-items: center;
  gap: 44px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .account {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.about-us .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #007fff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.about-us .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d3d3d6;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.about-us .buttone {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 999px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 17, 1) 100%);
}

.about-us .buttone::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 999px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(12, 12, 12, 0.04) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .ellipse-2 {
  position: absolute;
  left: calc(50% - 72px);
  bottom: 22px;
  width: 144px;
  height: 57px;
  border-radius: 72px/28.5px;
  filter: blur(16px);
  background: radial-gradient(50% 50% at 53% 50%, rgba(0, 128, 255, 1) 0%, rgba(12, 12, 12, 1) 100%);
  opacity: 0.9;
}

.about-us .rectangle-2 {
  position: absolute;
  top: 0;
  left: calc(50% - 46px);
  width: 92px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 0) 0%,
    rgba(39, 133, 226, 0.8) 36%,
    rgba(0, 128, 255, 1) 50%,
    rgba(39, 133, 226, 0.8) 64%,
    rgba(13, 13, 13, 0) 100%
  );
}

.about-us .artificial {
  position: absolute;
  top: 3336px;
  left: 76px;
  width: 1280px;
  height: 408px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
}

.about-us .artificial::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 408px;
}

.about-us .p {
  position: absolute;
  top: 78px;
  left: 247px;
  height: 56px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 15, 42, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.about-us .text-wrapper-13 {
  position: absolute;
  top: 156px;
  left: 399px;
  width: 483px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #989aad;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 49px;
  align-items: center;
  gap: 8px;
  padding: 16px 24px 16px 32px;
  position: absolute;
  top: 240px;
  left: calc(50% - 74px);
  border-radius: 999px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 17, 1) 100%);
}

.about-us .button-2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 999px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(12, 12, 12, 0.04) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .icon-arrow-right {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
}

.about-us .shape {
  position: absolute;
  width: 68.86%;
  height: 69.99%;
  top: 30.01%;
  left: 31.14%;
}

.about-us .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  position: absolute;
  top: 313px;
  left: calc(50% - 62px);
  opacity: 0.4;
}

.about-us .core-capabilities-2 {
  top: 1306px;
  height: 906px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
}

.about-us .nav-card {
  display: flex;
  flex-direction: column;
  width: 404px;
  height: 258px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  position: absolute;
  top: 228px;
  left: 86px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
}

.about-us .nav-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  position: relative;
  flex: 0 0 auto;
  background-color: #007fff1f;
  border-radius: 12px;
}

.about-us .text-wrapper-14 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.41px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #007fff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .div-4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  display: flex;
}

.about-us .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .text-wrapper-16 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .nav-card-2 {
  width: 404px;
  height: 258px;
  justify-content: space-between;
  padding: 40px;
  top: 228px;
  left: 528px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .nav-card-3 {
  width: 404px;
  height: 258px;
  justify-content: space-between;
  padding: 40px;
  top: 228px;
  left: 970px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-3::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .nav-card-4 {
  width: 404px;
  height: 258px;
  justify-content: space-between;
  padding: 40px;
  top: 568px;
  left: 307px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-4::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .nav-card-5 {
  width: 404px;
  height: 258px;
  justify-content: space-between;
  padding: 40px;
  top: 568px;
  left: 749px;
  border-radius: 24px;
  overflow: hidden;
  border: none;
  background: linear-gradient(180deg, rgba(28, 28, 31, 1) 0%, rgba(12, 12, 12, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-5::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(28, 28, 31, 0.5) 0%, rgba(255, 255, 255, 0.12) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about-us .text-wrapper-17 {
  position: absolute;
  top: 80px;
  left: 86px;
  height: 56px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 15, 42, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
  white-space: nowrap;
}

.about-us .text-wrapper-18 {
  position: absolute;
  top: 156px;
  left: 86px;
  height: 24px;
  display: flex;
  align-items: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #9f9fa1;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .core-capabilities-3 {
  top: 2212px;
  height: 1124px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
}

.about-us .text-wrapper-19 {
  position: absolute;
  top: 80px;
  left: 85px;
  width: 400px;
  height: 112px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(6, 15, 42, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
}

.about-us .nav-card-6 {
  width: 622px;
  gap: 40px;
  padding: 0px 0px 40px;
  top: 100px;
  left: 744px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 100%) 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .frame-8 {
  display: inline-flex;
  flex-direction: column;
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  position: relative;
  background-color: #007fff1f;
  border-radius: 16px;
}

.about-us .text-wrapper-20 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #007fff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #f1f3fd;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .text-wrapper-22 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #989aad;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .nav-card-7 {
  width: 622px;
  gap: 40px;
  padding: 0px 0px 40px;
  top: 346px;
  left: 744px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 100%) 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-8 {
  width: 622px;
  gap: 40px;
  padding: 0px 0px 40px;
  top: 592px;
  left: 744px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 100%) 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.about-us .nav-card-9 {
  width: 622px;
  gap: 40px;
  padding: 0px 0px 40px;
  top: 838px;
  left: 744px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}